.main {
    display: flex;
    flex-direction: column;
    gap: 10rem;
    align-items: center;
}


.contact {
    /* background: #482424; */
    display: flex;
    width: 105rem;
    height: 83rem;
    align-items: center;
    gap: 13rem;
    margin-top: 6rem;
    /* margin-bottom: 10rem; */
}

.contact-elmt {
    display: flex;
    flex-direction: column;
}

.contact-element .titre {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
    color: #DF6951;
    width: 28rem;
}

.contact-element .sous_titre {
    font-family: "Volkhov", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 84px;
    color: #181E4B;
    width: 59rem;
    margin-bottom: 2.3rem;
}

.contact-element p {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    color: #5E6282;
    width: 42rem;
    margin-bottom: 2.3rem;
}

.form {
    display: flex;
    flex-direction: column;
    width: 40rem;
    height: 42rem;
    gap: 4rem;
}

.form input {
    height: 6rem;
    background: #ff916d42;
}

form ::placeholder {
    color: #393E5D;
    position: relative;
    left: 15px;

}

.form textarea {
    height: 20rem;
    background: #ff916d42;
    resize: none;
    color: #393E5D;
    overflow: hidden;
}

.form button {
    height: 5rem;
    background: #FF926D;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
}

.form .ecrit {
    border: none;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.contact-image {
    /* background: #000; */
    width: 32rem;
    height: 59rem;
    position: relative;
    top: 3rem;
}

.block_quetion {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.block_quetion h2 {
    margin-top: 4rem;
}

.recherche_question ::placeholder {
    color: black;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}

.recherche_question input {
    background-color: rgba(255, 255, 255, 0);
    width: 80%;
    height: 100%;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color: #5E6282;
}

.recherche_question {
    background: #fff1da59;
    width: 92rem;
    height: 8.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border: solid 1px #e1755a86;
    border-radius: 15px;
}

.icon_recherche img {
    width: 3rem;
}

.icon_recherche {
    background: #ff916d75;
    border-radius: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    position: relative;
    left: 4rem;
}


.question {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    color: #14153E;
    margin-left: 3rem;


}

.reponse p {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color: #5E6082;
}

.reponse {
    /* background: #000; */
    width: 66rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 2px 5px 1px rgba(128, 128, 128, 0.152);
}

.fidele_service {
    display: flex;
    justify-content: center;
    gap: 4.2rem;
}

.avantage {
    /* background: #000; */
    width: 40rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 2px 5px 1px rgba(128, 128, 128, 0.152);
    text-decoration: none;
}

.fidele_service a:hover{
    transform: scale(1.1);
    transition: .3s;
    
}

.avantage h5 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    color: #16143E;
}

.avantage p {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    color: #5E5E82;
}

.question_frequent {
    background: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    margin-bottom: 15rem;
}

.question_reponse {
    width: 73.7%;
    /* height: auto;  */
    background-color: #14153E;
    /* display: grid;
    grid-template-columns: 1fr 1fr ; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: center; */
    gap: 2rem;

}

.reponse_au_question  {
    background-color: #DF6951;
    /* width: 54.7rem; */
    height: 5.6rem;
    display: flex;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 2px 5px 1px rgba(128, 128, 128, 0.152);
    text-decoration:none;
}



.reponse_au_question  p {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color: #5E6282;
    margin-left: 16px;
}

.reponse_au_question_Q p{
    margin-left: 1rem;
}

/* .les_reponse {
    background: #000;
    display: flex;
    flex-direction: column;
    gap: 1rem;
} */


.reponse_au_question_Q  {
    background-color: rgba(128, 128, 128, 0.219);
    width: 36.2%;
    height: 24rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    /* justify-content: center;
    align-items: center; */

}

.reponse_au_question_Q{
    display: none;
    position: absolute;
}

.reponse_au_question:hover + .reponse_au_question_Q{
    display: block;
}

.block_reponse{
    /* background: #000; */
    /* position:absolute; */
}



.question_Q {
    width: 95%;
    height: 4rem;
    margin-left:1.5rem;
    background-color: #FFF1DA;
    display: flex;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color: #5E6282;
    border-radius: 10px;
    margin-bottom: 2rem;

}

.reponse_Q {
    /* width: 69rem; */
    height: 11rem;
    margin-left: 1.5rem;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    color: #5E6282;
}

.les_reponse p{
    margin-left: 13px;
}

.size_du_question{
    background: #000;
    width: 49.1%;
}