.contact {
    /* background: #482424; */
    display: flex;
    width: 105rem;
    height: 83rem;
    align-items: center;
    gap: 13rem;
    margin-top: 6rem;
    margin-bottom: 10rem;
}

.contact-elmt {
    display: flex;
    flex-direction: column;
}

.contact-element .titre {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
    color: #DF6951;
    width: 28rem;
}

.contact-element .sous_titre {
    font-family: "Volkhov", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 84px;
    color: #181E4B;
    width: 59rem;
    margin-bottom: 2.3rem;
}

.contact-element p {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    color: #5E6282;
    width: 42rem;
    margin-bottom: 2.3rem;
}

.form {
    display: flex;
    flex-direction: column;
    width: 40rem;
    height: 42rem;
    gap: 4rem;
}

.form input {
    height: 6rem;
    background: #ff916d42;
}

form ::placeholder {
    color: #393E5D;
    position: relative;
    left: 15px;
    
}

.form textarea {
    height: 20rem;
    background: #ff916d42;
    resize: none;
    color: #393E5D;
    overflow: hidden;
}

.form button {
    height: 5rem;
    background: #FF926D;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
}

.form .ecrit {
    border: none;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.contact-image {
    /* background: #000; */
    width: 32rem;
    height: 59rem;
    position: relative;
    top: 3rem;
}

.block_quetion{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.block_quetion h2 {
    margin-top: 4rem;
}

.recherche_question p {
    color: black;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}

.recherche_question {
    background: #fff1da59;
    width: 92rem;
    height: 8.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9rem;
    border: solid 1px #e1755a86;
    border-radius: 15px;
}

.icon_recherche img {
    width: 3rem;
}

.icon_recherche {
    background: #ff916d75;
    border-radius: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    position: relative;
    left: 4rem;
}


.question {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    color: #14153E;
    margin-left: 3rem;


}

.reponse p {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color: #5E6082;
}
.reponse{
    /* background: #000; */
    width: 66rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 2px 5px 1px rgba(128, 128, 128, 0.152);
}