.about-body {
    gap: 5rem;
}

.sTit {
    color: var(--paragraph-color);
    font-size: 1.8rem;
    font-weight: 700;
    padding-bottom: .8rem;

}

.pepole {
    display: flex;
    /* background: #000; */
}



.AllCards {
    background: white;
    display: flex;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    color: var(--paragraph-color);
}

.container-cmnts {
    border: solid .1rem rgba(136, 136, 136, 0.064);
    box-shadow: 0 2rem 1rem .2rem rgba(0, 0, 0, 0.048);
    position: relative;
    padding: 2.8rem 0 0 3.4rem;
    width: 50rem;
    height: 24rem;
    border-radius: 1rem;


}

.AllCards .container-cmnts .profile {
    position: absolute;
    left: -3.5rem;
    top: -3.5rem;
}

.container-cmnts p {
    font-weight: 400;
    font-size: 1.6rem;
    width: 85%;
    line-height: 32px;
    /* background: #000; */
    padding-bottom: 3.4rem;

}

.AllCards .container-cmnts div {
    font-size: 1.8rem;
    padding-bottom: 0.5rem;

}

.AllCards .container-cmnts span {
    font-size: 1.4rem;

}



.pepole h2 {
    margin-bottom: 7.5rem;

}

.points {
    display: flex;
    gap: 2.6rem;
}

.points .point:nth-child(1) {
    background: #39425D;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

.points .point:nth-child(2) {
    background: #E5E5E5;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

.points .point:nth-child(3) {
    background: #E5E5E5;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

/* section */
.width {
    width: 68%;
}

.section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15rem;
}

.about1 {
    /* width: 100%; */
    /* background-color: #a53030; */
    display: flex;
    flex-direction: row;
    gap: 13.2rem;
}

.pargraphe1 {
    display: flex;
    justify-content: center;
    box-shadow: 0px 20px 30px 2px #5e5e5e26;
    border-radius: 10px;
    width: 40.9rem;
    height: auto;
    padding: 2rem;
    max-width: 95% !important;
    /* background: #000; */

}

.about1 p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: var(--paragraph-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.about1 div img {
    display: flex;
    position: relative;
    right: 5.5rem;
    bottom: 2rem;
}





.about2 {
    /* width: 100%; */
    /* background-color: #3c0c9c; */
    display: flex;
    flex-direction: row;
    gap: 19.8rem;
}

.pargraphe2 {
    display: flex;
    justify-content: center;
    box-shadow: 0px 20px 30px 2px #5e5e5e26;
    border-radius: 10px;
    width: 40.9rem;
    height: auto;
    padding: 2rem;
    max-width: 95%;
}

.pargraphe2 p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: var(--paragraph-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.about2 div img {
    display: flex;
    position: relative;
    left: 20.5rem;
    bottom: 1.6rem;
}

/* foods & hotel */
.foodhotel {
    /* background: #aa0f0f; */
    width: 100%;
    display: flex;
    /* background: #000; */
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-items: center;
    /* background: #000; */
}

.localprix img {
    width: 30rem;

}


.hotelfoods {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 6.3rem;
    margin-bottom: 12rem;
    /* background: #000; */
}

.localprix {
    /* background-color: #fff; */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 37px 37px;
    box-shadow: 0px 8px 10px 1px #5e5e5e26;
    /* background: #000; */
}

.localprix:hover {
    transform: scale(1.1);
    transition: .3s;
}


.localprix div {
    /* background: #a7a7a7; */
    height: 5rem;
    display: flex;
    align-items: center;
    /* width: 100%; */
}

.localprix div p {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 13px;
    color: var(--paragraph-color);

}

.ancienprix {
    margin-left: 4rem;
    text-decoration: line-through;
    color: #825E5E;
}

.nouveauprint {
    color: #788675;
}

.category {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    color: var(--paragraph-color);
    font-size: 18px;
    margin-bottom: 1rem;
}



/* our team */
.team {
    /* background-color: #39425D; */
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 9.8rem;
    /* width: 100%; */
}

.team div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 3.4rem;
    /* row-gap: rem; */
    /* background: #000; */
    /* width: 6%; */
}


.team img {
    width: 320px;
}

.ourteam {
    width: 32rem;
    height: 32rem;
    margin: 85px 0px;
    /* background-color: #459e2f; */
}

.ourteam div h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 13px;
    counter-reset: #14183E;
    margin-left: 17px;
}

.ourteam div p {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 13px;
    color: var(--paragraph-color);
    margin-left: 17px;
}

#Khawla {
    background: url(/images/about/khawla.png);
    background-size: cover;
    background-repeat: no-repeat;
}

/* #Khawla {
    background: #000;
    display: flex;
    flex-direction: column;
}  */


.membre {
    width: rem;
    height: 7rem;
    background-color: #FFF1DA;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    /* position: relative; */
    /* top: 22rem; */
    gap: 0rem;
}

.parent {
    width: 32rem;
    height:42rem ;
    border-radius: 10px;
    background: rgba(128, 128, 128, 0.443);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* position: absolute; */
    row-gap: 2rem;
}

.child1 {

    background-color: #FFF1DA;
    border-radius: 10px;
    width: 70%;
    height: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:12px 0px 12px 13px;
    
}

.child1 h5 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 13px;
    margin-left: 13px;

}

.child1 p {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 13px;
    margin-left: 13px;
}


.child2 {
    background-color: white;
    width: 92%;
    height: 32rem;
    margin-left: 13px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.child2 p{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 13px;
    color: #5E6282;
    margin-left: 13px;
}


.team .parent{
    display: none;
}

.ourteam .hover_menbre:hover {
    opacity: 0;
}


.team .hover_menbre:hover + .parent{
    display:block;

}


#Abderahmane {
    background: url(/images/about/abderahim.png);
    background-size: cover;
    background-repeat: no-repeat;
}


#Fakherdinne {
    background: url(/images/about/fakherdinne.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#Mohamed {
    background: url(/images/about/mohamed.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#Mehdi {
    background: url(/images/about/mehdi.png);
    background-size: cover;
    background-repeat: no-repeat;
}


.ourteam .hover_menbre {
    width: 20rem;
    height: 7rem;
    background-color: #FFF1DA;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 22rem;
    gap: 0rem;
}








/* brands */


.brands {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16rem;
    width: 60%;
    overflow-x: auto;
    gap: 6rem;
}

.brand {

    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    gap: 6rem;
    animation: spin 5s infinite linear;
}

.brands::-webkit-scrollbar {
    display: none;
}

@keyframes spin {
    from {
        translate: 0;
    }

    to {
        translate: 100%;
    }
}

.brand img {
    filter: grayscale(100%);
    flex: 0 0 5rem;
}


@media (max-width: 1400px) {

    .pepole {
        /* gap: 5rem; */
    }

}

@media (max-width: 1200px) {


    .sTit {
        font-size: 1.5rem;
    }

    .pepole h2 {

        width: 100%;
        font-size: 3rem;
    }

}

@media (max-width: 992px) {
    .sTit {
        font-size: 1.8rem;
    }

    .pepole h2 {

        width: 100%;
        font-size: 5rem;
    }

    .pepole {
        gap: 15rem;
        flex-direction: column;
        align-items: center;

        text-align: center;
    }

    .what {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .AllCards {
        gap: 1rem;
        justify-content: center;
        text-align: center;
        /* background: #000; */
        padding: 2rem;
    }

    .about1,
    .about2 {
        text-align: center;
        max-width: 90%;
        width: 60%;
        align-items: center;
        flex-direction: column;
        gap: 5rem;
    }

    .fleche {
        display: none !important;
    }

    .pargraphe1 {
        order: 2;
    }
}

@media (max-width: 768px) {

    .what span {
        font-size: 1.5rem;
    }

    .what h2 {
        /* background: #000; */
        font-size: 3.5rem;
    }


    .pepole {
        gap: 5rem;
        width: 100%;

    }

    .AllCards .container-cmnts .profile {
        left: -3rem;
        top: -2.5rem;
        width: 5rem;
    }


    .container-cmnts {

        height: 30rem;
        padding-bottom: 2rem;
        max-width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


}

@media (max-width: 600px) {}

@media (max-width: 480px) {


    .container-cmnts {

        width: 30rem;
        height: auto;
        padding: 4rem;

    }


    .AllCards {
        /* background: #000; */
        width: 100%;

    }




    .pepole {
        gap: 5rem;
        /* background: #000; */
        max-width: 90%;
    }

    .AllCards .container-cmnts .profile {
        left: -2rem;
        top: -2rem;
        width: 4rem;
    }


    .container-cmnts {


        padding-bottom: 2rem;
        max-width: 100%;
        /* background: #000; */
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-cmnts p {
        /* background: #000; */
        width: 100%;
    }







}

@media (max-width: 360px) {}